<%# The container tag -%>
<%= paginator.render do -%>
  <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0" aria-label="Pagination">
    <!-- Mobile pagination -->
    <div class="flex w-0 flex-1 sm:hidden">
      <%= prev_page_tag unless current_page.first? %>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Страница <span class="font-medium"><%= current_page.number %></span> из <span class="font-medium"><%= total_pages %></span>
        </p>
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <%= prev_page_tag unless current_page.first? %>
          <% each_page do |page| -%>
            <% if page.display_tag? -%>
              <%= page_tag page %>
            <% elsif !page.was_truncated? -%>
              <%= gap_tag %>
            <% end -%>
          <% end -%>
          <%= next_page_tag unless current_page.last? %>
        </nav>
      </div>
    </div>
    <div class="flex w-0 flex-1 justify-end sm:hidden">
      <%= next_page_tag unless current_page.last? %>
    </div>
  </nav>
<% end -%>
